<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Motos</title>
</head>
<body>
    
    <h1>Motos</h1>


    <table>
        <tr>
            <td>ID</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Cor</td>
            <td>Placa</td>
        </tr>    


        <%  for(var i = 0; i < motos.length; i++) { %>

            <tr>
                <td><%=  motos[i].id_moto  %></td>
                <td><%=  motos[i].marca  %></td>
                <td><%=  motos[i].modelo  %></td>
                <td><%=  motos[i].cor  %></td>
                <td><%=  motos[i].placa  %></td>
            </tr>   
    
            <% } %>

    </table>


</body>
</html>